#a2{
    background-color: #00008B;
}
h1{
    font-size: 80px;
    top: 0;
    position: absolute;
}
.pp{
    left: 5%;
    right: 5%;
    top: 25%;
    position: absolute;
    font-size: 20px;
}
.c1-container {
    width: 550px;
    height: 240px;
    background-color: #C6DEFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.c1-pp{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 20px;
}
h2{
    padding-left: 5%;
}
#cc1{
    top: 40%;
    left: 5%;
    position: absolute;
}
img{
    width: 300px;
}
#im1{
    top: 37%;
    left: 50%;
    position: absolute;
}
#cc2{
    top: 85%;
    right: 5%;
    position: absolute;
}
#im2{
    top: 82%;
    right: 50%;
    position: absolute;
}
#cc3{
    top: 130%;
    left: 5%;
    position: absolute;
}
#im3{
    top: 127%;
    left: 50%;
    position: absolute;
}
#cc4{
    top: 175%;
    right: 5%;
    position: absolute;
}
#im4{
    top: 172%;
    right: 50%;
    position: absolute;
}
#cc5{
    top: 220%;
    left: 5%;
    position: absolute;
}
#im5{
    top: 217%;
    left: 50%;
    position: absolute;
}
#cc6{
    top: 265%;
    right: 5%;
    position: absolute;
}
#im6{
    top: 262%;
    right: 50%;
    position: absolute;
}
#cc7{
    top: 310%;
    left: 5%;
    position: absolute;
}
#im7{
    top: 307%;
    left: 50%;
    position: absolute;
}
#cc8{
    top: 355%;
    right: 5%;
    position: absolute;
}
#im8{
    top: 352%;
    right: 50%;
    position: absolute;
}
#p10{
    left: 5%;
    right: 5%;
    top: 400%;
    position: absolute;
    font-size: 20px;
}
footer {
    top:487%;
    position: absolute;
  }
  iframe{
    top: 420%;
    position: absolute;
}
#aaa{
    top:470%;
    left: 45%;
    position: absolute;
    border-right: none;
}
#ii{
    width: 100px;
}
