#a1{
    background-color: #00008B;
}

.image-container {
    left: 0%;
    position: absolute;
    width: 100%;
    max-width: 600px; /* Set the maximum width of the container */
}

.image-container img {
    width: 1470px;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);
    color: blue;
    -webkit-text-stroke: 5px black;
    text-align: center;
    font-size: 120px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    /* Add any additional styles as needed */
}
h2{
    font-size: 80px;
    top: 150%;
    left: 25%;
    position: absolute;
}
#p1{
    font-size: 20px;
    top: 175%;
    left: 5%;
    right: 5%;
    text-align: justify;
    position: absolute;
}
iframe{
    top: 200%;
    position: absolute;
}
#hh1{
    font-size: 50px;
    top: 250%;
    left: 5%;
    position: absolute;
}
.im{
    width: 300px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#im1{
    top: 270%;
    left: 5%;
    position: absolute;
}
#im2{
    top: 270%;
    left: 35%;
    position: absolute;
}
#im3{
    top: 270%;
    left: 65%;
    position: absolute;
}
.i{
    width: 100px;
}
#n1{
    top: 278%;
    left: 90%;
    position: absolute;
}
#hh2{
    font-size: 50px;
    top: 300%;
    left: 5%;
    position: absolute;
}
#im5{
    top: 320%;
    left: 5%;
    position: absolute;
}
#im6{
    top: 320%;
    left: 35%;
    position: absolute;
}
#im7{
    top: 320%;
    left: 65%;
    position: absolute;
}
#n2{
    top: 328%;
    left: 90%;
    position: absolute;
}
#hh3{
    font-size: 50px;
    top: 350%;
    left: 5%;
    position: absolute;
}
#im8{
    top: 370%;
    left: 5%;
    position: absolute;
}
#im9{
    top: 370%;
    left: 35%;
    position: absolute;
}
#im10{
    top: 370%;
    left: 65%;
    position: absolute;
}
#n3{
    top: 378%;
    left: 90%;
    position: absolute;
}
#hh4{
    font-size: 50px;
    top: 400%;
    left: 5%;
    position: absolute;
}
#im11{
    top: 420%;
    left: 5%;
    position: absolute;
}
#im12{
    top: 420%;
    left: 35%;
    position: absolute;
}
#im13{
    top: 420%;
    left: 65%;
    position: absolute;
}
#n4{
    top: 428%;
    left: 90%;
    position: absolute;
}
#hh5{
    font-size: 50px;
    top: 450%;
    left: 5%;
    position: absolute;
}
#im14{
    top: 470%;
    left: 5%;
    position: absolute;
}
#im15{
    top: 470%;
    left: 35%;
    position: absolute;
}
#im16{
    top: 470%;
    left: 65%;
    position: absolute;
}
#n5{
    top: 478%;
    left: 90%;
    position: absolute;
}
#hh{
    top: 500%;
    position: absolute;
    font-size: 60px;
}
#if1{
    left: 30%;
    top: 520%;
    position: absolute;
}
footer {
    top:607%;
    position: absolute;
  }
#aaa{
    top:590%;
    left: 45%;
    position: absolute;
    border-right: none;
}
#ii{
    width: 100px;
}
